:root {
    --ltback: #003566;
    --secondary: #001d3d;
    --primary: #ffc300;
    --dkback: #ffd60a;
    --alt: #000814;
}

.all-wits {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}

.home-link {
    color: white;
}

.info {
    color: var(--dkback);
    font-size: small;
}

.lightbulb {
    max-height: 60px;
}

.link {
    color: var(--secondary);
}

.main {
    margin-top: 80px;
    margin-bottom: 80px;
}

.navbar {
    color: var(--primary);
    background-color: var(--ltback);
    height: 80px;
}

.navbarfooter {
    color: var(--primary);
    background-color: var(--ltback);
}

.reply {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #003566;
}

.text {
    padding: 5px;
}

.user {
    color: var(--secondary);
    background-color: var(--primary);
    padding: 10px;
    max-width: 1000px;
    margin: auto;
}

.user-box {
    background-color: var(--ltback);
    color: white;
    padding: 10px;
    display: inline-block;
    min-width: 300px;
}

.user-name {
    color: var(--primary);
}

.wit {
    color: white;
    background-color: var(--secondary);
    padding: 10px;
    min-height: 100px;
    margin: 1px;
}